.card {
  width: 100%;
  padding: 1em;
  border-radius: 15px;
}

.card__image {
  display: block;
  width: 90%;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.card__title {
  text-transform: uppercase;
}

.blue {
  background-color: #0070f3;
}
